<div id="carCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for image in car_images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ image.image.url }}" class="d-block w-100" alt="Car image" />
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev"
          type="button"
          data-bs-target="#carCarousel"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next"
          type="button"
          data-bs-target="#carCarousel"
          data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="row mt-3">
    {% for image in car_images %}
      <div class="col-3">
        <img src="{{ image.image.url }}"
             class="img-thumbnail"
             data-bs-target="#carCarousel"
             data-bs-slide-to="{{ forloop.counter0 }}"
             alt="Thumbnail" />
      </div>
    {% endfor %}
  </div>
</div>
