{% extends "base.html" %}
{% block content %}
  <div class="register_form">
    <h2>Login</h2>
    <form class="register_form__form" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Username:</label>
        <input type="text"
               name="username"
               class="form-control"
               required
               id="id_username">
      </div>
      <div class="form-group">
        <label for="id_password">Password:</label>
        <input type="password"
               name="password"
               class="form-control"
               required
               id="id_password">
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
      </div>
    </form>
  </div>
{% endblock content %}
