{% extends "base.html" %}
{% block content %}
  <div class="register_form">
    <h2>Register</h2>
    <form class="register_form__form" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        <label for="id_username">Username:</label>
        <input type="text"
               name="username"
               class="form-control"
               required
               id="id_username">
        {{ form.username.errors }}
      </div>
      <div class="form-group">
        <label for="id_email">Email:</label>
        <input type="email" name="email" class="form-control" required id="id_email">
        {{ form.email.errors }}
      </div>
      <div class="form-group">
        <label for="id_password1">Password:</label>
        <input type="password"
               name="password1"
               class="form-control"
               required
               id="id_password1">
        {{ form.password1.errors }}
      </div>
      <div class="form-group">
        <label for="id_password2">Password confirmation:</label>
        <input type="password"
               name="password2"
               class="form-control"
               required
               id="id_password2">
        {{ form.password2.errors }}
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
{% endblock content %}
